@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TrustedBySection)Model.Content;
}

<section class="bg-no-repeat bg-neutral pt-17 pb-[30rem] relative
                [background-image:url('/images/Dot-map_2.svg')]
                [background-position:50%_7rem]">
    <div class="max-w-7xl mx-auto flex flex-col justify-center items-center mb-22">
        <div>
            <div class="rte">@Html.Raw(content.TrustedByTitle)</div>
            <div class="rte-secondary">@Html.Raw(content.TrustedSubheading)</div>
        </div>
        <div class="flex flex-col justify-center items-center px-45 gap-y-3">
            <p>@content.TrustedByText</p>

            @if (content.TrustedByLink != null)
            {
                <a class="bg-primary text-white py-3 px-10 no-underline rounded cursor-pointer font-bold" href="@content.TrustedByLink.Url">@content.TrustedByLink.Name</a>
            }
        </div>
    </div>
    <img src="/images/Team-img.svg" class="absolute bottom-0 left-1/2 -translate-x-1/2"/>
</section>